body {
	overflow: auto;
	font-family: 'Century Gothic', sans-serif;
	background-image: url(../img/geometry.jpg);
}

#photoBooth {
	margin-top: .2em;
	padding: 10px;
	width: 650px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border-radius: 2px;
}	

#slideShow {	
	position: relative;
}

.photoHolder {
	position: relative;
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.moreIndicator {
	height: 50px;
	width: 50px;
	position: absolute;
	z-index: 3;
	opacity: .8;
	bottom: 0px;
}

.thumbnail {
	position: relative;
	box-shadow: 1px 3px 20px 0px;
	width: 518px;
	height: 389px;
}


.banner {
	text-align: center;
	font-size: 1.25em;
}

#nav {
	clear: both;
	position: relative;
}

#prevPhoto {
	height: 42px;
	width: 42px;
}

#nextPhoto {
	height: 42px;
	width: 42px;
}

.details p {
	margin-top: 20px;
}
.details {
	border: 1px #000 dashed;
	padding: 0px 10px;
	margin: 20px 0px;
}

/*Add CSS styles to rotate the element 90deg
Make it animate nicely. You'll need CSS3 for this*/
.rot90 {
	transform: scale(1) rotate(90deg);
	transition: all 1s ease;
}

/*Add CSS styles to rotate the element 180deg
Make it animate nicely. You'll need CSS3 for this*/
.rot180 {
	transform: rotate(180deg);
}

/*Add CSS styles to rotate the element 270deg
Make it animate nicely. You'll need CSS3 for this*/
.rot270 {
	transform: scale(1) rotate(270deg);
	transition: all 1s ease;
}

.centerHorz{
    margin-left: 50%;
	margin-top: 50%;
	margin-right: 50%;
}
/* Left and Right Arrows Styles */
#prevPhoto{
	opacity: 100%;
	transition: ease-in-out;
}
#prevPhoto:hover{
	opacity: 80%;
}

#nextPhoto{
	opacity: 100%;
	float: right;
	transition: ease-in-out;
}
#nextPhoto:hover{
	opacity: 80%;
}